html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/******************** Game Page Items ************************/
.chat-log ul {
    padding-left: 0;
    list-style: none;
    width: 100%;
    overflow: scroll;
    font-size: small;
    min-height: 150px;
    height: 20vh;
}

.chat-log {
    max-height: auto;
    height: 80%;
    border: 1px solid black;
}

.table-container {
height:100%;
    border: 1px solid black;
    display: none;
    width: 100%;
}

.cards-drop-area {
    border: 1px solid black;
    padding-bottom: 5px;
    height: 100%;
    width: 100%;
    background: url("../images/tableSurface.jpg") 100% 100%;
    background-size: cover;
}

.base-seat {
    background: white;
    border: 1px solid black;
}

.player-seat {
    background: #d5f2f2;
    border: 1px solid black;
}

.player-attacker {
    background: #93edce;
    border: 1px solid green;
}

.player-defender {
    background: #f27272;
    border: 1px solid red;
}

.player-cards {

    width: 100%;
    height: 120px;
    border: 1px solid red;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card-img {
    max-height: 80px;
    min-height: 80px;
}

.player-cards img {
    max-height: 80px;
    min-height: 80px;
}

#deckArea {
    height: 100px;
    width: 100%;
    border: 1px solid black;
}

#deckArea img {
    max-height: 80px;
    min-height: 80px;
}

.row img {
    max-height: 80px;
    min-height: 80px;
}

.card-count {
    height: 80px;
    width: 55px;
    border: 1px solid black;
    background-color: #d5f2f2;
    border-radius: 3px;
}

/*.under {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.over {
    position: absolute;
    left: 40px;
    top: 10px;
    z-index: -1;
}

.cardInPlayDiv {
    position: relative;
}*/