html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/******************** Game Page Items ************************/
.chat-log ul {
    padding-left: 0;
    list-style: none;
    width: 100%;
    overflow: scroll;
    font-size: small;
    min-height: 150px;
    height: 80%;
}

.chat-log {
    max-height: auto;
    height: 80%;
    border: 1px solid black;
}

.table-container {
    min-height: 500px;
    max-height: 500px;
    border: 1px solid black;
    display: none;
    width: 100%;
}

.cards-drop-area {
    border: 1px solid black;
    padding-bottom: 5px;
    height: 400px;
    width: 100%;
}

.player-cards {

    width: 100%;
    height: 120px;
    border: 1px solid red;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card-img {
    max-height: 80px;
    min-height: 80px;
}

.player-cards img {
    max-height: 80px;
    min-height: 80px;
}

#deckArea {
    height: 100px;
    width: 100%;
    border: 1px solid black;
}

#deckArea img {
    max-height: 80px;
    min-height: 80px;
}

.row img {
    max-height: 80px;
    min-height: 80px;
}

/*.under {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.over {
    position: absolute;
    left: 40px;
    top: 10px;
    z-index: -1;
}

.cardInPlayDiv {
    position: relative;
}*/