@page
@model Durak.Pages.gameModel
@{

}

<div class="container" style="border: 1px solid black;">
    <div class="col-6">
        <input type="button" value="Start" id="startGame" class="btn btn-success" />
        <input type="button" value="Leave Game" id="btn-leave" class="btn btn-danger" />
        <input type="button" value="Pick Up" class="btn btn-primary" id="PickUp" disabled />
        <input type="button" value="Done Attacking." class="btn btn-primary" id="FinishAttacking" disabled />
    </div>

    <div class="row">
        <div class="col-12" style="border: 1px solid black;" id="startWindow">
            <div class="row"></div>
        </div>
        <div class="col-12" style="border: 1px solid black;">
            <div class="row">
                <div class="col-4 player-seat" id="seat1">Seat 1</div>
                <div class="col-4 player-seat" id="seat2">Seat 2</div>
                <div class="col-4 player-seat" id="seat3">Seat 3</div>
            </div>
            <div class="row">
                <div class="col-1 player-seat" id="seat8">Seat 8</div>
                <div class="col-8" style="border: 1px solid black; height: 500px;">
                    <div class="col-9 table-container" id="playingTable">
                        <div class="col-9 cards-drop-area" ondrop="HandleDragDrop(event)" ondragover="allowDrop(event)">
                            <div class="row col-12" id="cardsInPlayArea">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 player-seat" id="seat4">Seat 4</div>
                <div class="col-2">
                    <!-- Chat window-->
                    <div class="chat-window" style="border: 1px solid black;">

                        <div class="chat-log" style="max-height: auto; min-height: 150px; border: 1px solid black;">
                            <ul id="chatView">
                            </ul>
                        </div>
                        <div class="row p-1 chat-message">
                            <div class="mb-3"><input type="text" id="message" placeholder="type a message.." class="form-control" /></div>
                        </div>
                        <div class="row p-1">
                        </div>
                    </div>
                    <div id="deckArea" class="row">
                        <div class="col-6" id="nuke-holder">
                        </div>
                        <div class="col-6 card-count" id="card-count-container">    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 player-seat" id="seat7">Seat 7</div>
                <div class="col-4 player-seat" id="seat6">Seat 6</div>
                <div class="col-4 player-seat" id="seat5">Seat 5</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="player-cards col-9" id="playerCards">
        </div>
    </div>
</div>
    <!-- I'm just adding these buttons here for testing purposes until I impliment timers.
         Once the timer is implimented, the pickup button will remain, but the done attacking will be removed
         and pickup will have a timeout period as well.
    -->

<script src="~/js/game/game.js"></script>