@page
    <div class="container">
        <h1>Durak TP Edition</h1>
        <div style="display: flex; justify-content: center;">
            <img src="/images/durak-log.png" style="height: 40vh; width: auto;" alt="Responsive image">
        </div>
    </div>


